# Node
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Go
/bin/
/pkg/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go workspace
/go.work
/go.work.sum

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
