[defaults]
inventory = inventory/hosts.example.yml
host_key_checking = True
retry_files_enabled = False
local_tmp = /tmp/ansible-local
remote_tmp = /tmp/ansible-remote

[ssh_connection]
pipelining = True
