BASTION_ID="ocid1.bastion.oc1.phx.exampleuniqueID"
INSTANCE_ID="ocid1.instance.oc1.phx.exampleuniqueID"
PRIVATE_IP="10.0.2.7"
REGION="us-phoenix-1"

BASTION_SSH_KEY="$PWD/.private/keys/oci_bastion_ed25519"
BASTION_SSH_PUB="$PWD/.private/keys/oci_bastion_ed25519.pub"
INSTANCE_SSH_KEY="$HOME/.ssh/id_ed25519"

LOCAL_PORT="2222"
BASTION_SESSION_TTL="10800"
BASTION_SESSION_DISPLAY_NAME="music-tools-ssh-ed25519"
