RIFFERONE_IMAGE=ghcr.io/srogerf/music-tools/rifferone:main
RIFFERONE_HTTP_PORT=80
NGINX_LOG_PATH=/srv/rifferone/logs/nginx
GOACCESS_REPORT_PATH=/srv/rifferone/reports/goaccess

POSTGRES_DB=music_tools
POSTGRES_USER=music_tools
POSTGRES_PASSWORD=replace_with_secure_password
POSTGRES_DATA_PATH=/srv/rifferone/postgres-data
